HOST=
PORT=8080

ADDR=$HOST:$PORT

DB_USER=user
DB_PASS=pass
DB_HOST=db
DB_PORT=5432
DB_NAME=devdb

DB_CONN=postgres://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=$DB_CONN
GOOSE_MIGRATION_DIR=db/migrations
